{% extends 'menu.html' %}
{% load static %}
{% block title %}Brasileirão Série B{% endblock %}
{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Tabela Atualizada - Brasileirão Série B</h1>
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>Posição</th>
                    <th>Time</th>
                    <th>Jogos</th>
                    <th>Vitórias</th>
                    <th>Empates</th>
                    <th>Derrotas</th>
                    <th>Pontos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Vasco</td>
                    <td>24</td>
                    <td>17</td>
                    <td>4</td>
                    <td>3</td>
                    <td>55</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Bahia</td>
                    <td>24</td>
                    <td>15</td>
                    <td>6</td>
                    <td>3</td>
                    <td>51</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Grêmio</td>
                    <td>24</td>
                    <td>14</td>
                    <td>6</td>
                    <td>4</td>
                    <td>48</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Sport</td>
                    <td>24</td>
                    <td>13</td>
                    <td>8</td>
                    <td>3</td>
                    <td>47</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>CRB</td>
                    <td>24</td>
                    <td>13</td>
                    <td>6</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Coritiba</td>
                    <td>24</td>
                    <td>12</td>
                    <td>7</td>
                    <td>5</td>
                    <td>43</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>CSA</td>
                    <td>24</td>
                    <td>11</td>
                    <td>9</td>
                    <td>4</td>
                    <td>42</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Botafogo</td>
                    <td>24</td>
                    <td>11</td>
                    <td>8</td>
                    <td>5</td>
                    <td>41</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Chapecoense</td>
                    <td>24</td>
                    <td>10</td>
                    <td>10</td>
                    <td>4</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Náutico</td>
                    <td>24</td>
                    <td>10</td>
                    <td>8</td>
                    <td>6</td>
                    <td>38</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Vila Nova</td>
                    <td>24</td>
                    <td>9</td>
                    <td>9</td>
                    <td>6</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Botafogo-SP</td>
                    <td>24</td>
                    <td>9</td>
                    <td>8</td>
                    <td>7</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Operário</td>
                    <td>24</td>
                    <td>8</td>
                    <td>9</td>
                    <td>7</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Londrina</td>
                    <td>24</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Guarani</td>
                    <td>24</td>
                    <td>7</td>
                    <td>10</td>
                    <td>7</td>
                    <td>31</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>CRB</td>
                    <td>24</td>
                    <td>7</td>
                    <td>9</td>
                    <td>8</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Brusque</td>
                    <td>24</td>
                    <td>6</td>
                    <td>11</td>
                    <td>7</td>
                    <td>29</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Remo</td>
                    <td>24</td>
                    <td>6</td>
                    <td>10</td>
                    <td>8</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>América-MG</td>
                    <td>24</td>
                    <td>5</td>
                    <td>9</td>
                    <td>10</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Vitória</td>
                    <td>24</td>
                    <td>4</td>
                    <td>8</td>
                    <td>12</td>
                    <td>20</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block footer %}
<footer>
  <p>&copy; Todos direitos reservados</p>
</footer>
{% endblock %}
