{% extends 'menu.html' %}
{% load static %}
{% block title %}Ligue 1{% endblock %}
{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Tabela Atualizada - Ligue 1</h1>
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>Posição</th>
                    <th>Time</th>
                    <th>Jogos</th>
                    <th>Vitórias</th>
                    <th>Empates</th>
                    <th>Derrotas</th>
                    <th>Pontos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Paris Saint-Germain</td>
                    <td>24</td>
                    <td>18</td>
                    <td>3</td>
                    <td>3</td>
                    <td>57</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Lille</td>
                    <td>24</td>
                    <td>15</td>
                    <td>6</td>
                    <td>3</td>
                    <td>51</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Monaco</td>
                    <td>24</td>
                    <td>14</td>
                    <td>7</td>
                    <td>3</td>
                    <td>49</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Lyon</td>
                    <td>24</td>
                    <td>13</td>
                    <td>8</td>
                    <td>3</td>
                    <td>47</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Marseille</td>
                    <td>24</td>
                    <td>12</td>
                    <td>8</td>
                    <td>4</td>
                    <td>44</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Nice</td>
                    <td>24</td>
                    <td>12</td>
                    <td>7</td>
                    <td>5</td>
                    <td>43</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Rennes</td>
                    <td>24</td>
                    <td>11</td>
                    <td>9</td>
                    <td>4</td>
                    <td>42</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Brest</td>
                    <td>24</td>
                    <td>11</td>
                    <td>6</td>
                    <td>7</td>
                    <td>39</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Lens</td>
                    <td>24</td>
                    <td>10</td>
                    <td>8</td>
                    <td>6</td>
                    <td>38</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Strasbourg</td>
                    <td>24</td>
                    <td>10</td>
                    <td>7</td>
                    <td>7</td>
                    <td>37</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Angers</td>
                    <td>24</td>
                    <td>9</td>
                    <td>9</td>
                    <td>6</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Toulouse</td>
                    <td>24</td>
                    <td>9</td>
                    <td>8</td>
                    <td>7</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Monaco</td>
                    <td>24</td>
                    <td>8</td>
                    <td>10</td>
                    <td>6</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Nantes</td>
                    <td>24</td>
                    <td>8</td>
                    <td>9</td>
                    <td>7</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Clermont</td>
                    <td>24</td>
                    <td>7</td>
                    <td>10</td>
                    <td>7</td>
                    <td>31</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Saint-Étienne</td>
                    <td>24</td>
                    <td>7</td>
                    <td>9</td>
                    <td>8</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Montpellier</td>
                    <td>24</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>29</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Reims</td>
                    <td>24</td>
                    <td>6</td>
                    <td>9</td>
                    <td>9</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Ajaccio</td>
                    <td>24</td>
                    <td>6</td>
                    <td>7</td>
                    <td>11</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Auxerre</td>
                    <td>24</td>
                    <td>5</td>
                    <td>8</td>
                    <td>11</td>
                    <td>23</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block footer %}
<footer>
  <p>&copy; Todos direitos reservados</p>
</footer>
{% endblock %}