{% extends 'menu.html' %}
{% load static %}
{% block title %}Premier League{% endblock %}
{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Tabela Atualizada - Premier League</h1>
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>Posição</th>
                    <th>Time</th>
                    <th>Jogos</th>
                    <th>Vitórias</th>
                    <th>Empates</th>
                    <th>Derrotas</th>
                    <th>Pontos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Manchester City</td>
                    <td>24</td>
                    <td>18</td>
                    <td>3</td>
                    <td>3</td>
                    <td>57</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Arsenal</td>
                    <td>24</td>
                    <td>16</td>
                    <td>5</td>
                    <td>3</td>
                    <td>53</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Liverpool</td>
                    <td>24</td>
                    <td>14</td>
                    <td>7</td>
                    <td>3</td>
                    <td>49</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Chelsea</td>
                    <td>24</td>
                    <td>14</td>
                    <td>5</td>
                    <td>5</td>
                    <td>47</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Manchester United</td>
                    <td>24</td>
                    <td>13</td>
                    <td>6</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Tottenham</td>
                    <td>24</td>
                    <td>12</td>
                    <td>7</td>
                    <td>5</td>
                    <td>43</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Newcastle</td>
                    <td>24</td>
                    <td>12</td>
                    <td>6</td>
                    <td>6</td>
                    <td>42</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Brighton</td>
                    <td>24</td>
                    <td>11</td>
                    <td>8</td>
                    <td>5</td>
                    <td>41</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>West Ham</td>
                    <td>24</td>
                    <td>11</td>
                    <td>7</td>
                    <td>6</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Fulham</td>
                    <td>24</td>
                    <td>10</td>
                    <td>8</td>
                    <td>6</td>
                    <td>38</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Aston Villa</td>
                    <td>24</td>
                    <td>10</td>
                    <td>7</td>
                    <td>7</td>
                    <td>37</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Brentford</td>
                    <td>24</td>
                    <td>9</td>
                    <td>9</td>
                    <td>6</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Wolverhampton</td>
                    <td>24</td>
                    <td>8</td>
                    <td>10</td>
                    <td>6</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Nottingham Forest</td>
                    <td>24</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Crystal Palace</td>
                    <td>24</td>
                    <td>7</td>
                    <td>10</td>
                    <td>7</td>
                    <td>31</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Everton</td>
                    <td>24</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>29</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Leicester City</td>
                    <td>24</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>29</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Southampton</td>
                    <td>24</td>
                    <td>6</td>
                    <td>9</td>
                    <td>9</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Leeds United</td>
                    <td>24</td>
                    <td>6</td>
                    <td>7</td>
                    <td>11</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Sheffield United</td>
                    <td>24</td>
                    <td>5</td>
                    <td>6</td>
                    <td>13</td>
                    <td>21</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block footer %}
<footer>
  <p>&copy; Todos direitos reservados</p>
</footer>
{% endblock %}